/* ******COMMONS****** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

ul {
    list-style: none;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.left {
    float: left;
}

/* ******HEADER****** */

header {
    width: calc(100% - 50px);
    height: 90px;
    background-color: #080b12;
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
}

#btn_upgrade {
    color: white;
    background: none;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 40px;
    margin: 21px 10px;
    cursor: pointer;
}

/* ******MAIN****** */

/* main left */
#main_left {
    width: 50px;
    height: calc(100vh - 85px);
    background-color: #000000;
}

.main_nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main_nav li {
    width: 25px;
    margin: 5px auto;
}

.main_nav img {
    filter: invert(0.175);
    cursor: pointer;
}

.main_nav li.logo img {
    filter: none;
}

.main_nav li.logo {
    width: 30px;
}

/* proprietà icone inferiori */
.main_nav .bottom_list #btn_download {
    width: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.main_nav .bottom_list #btn_profile {
    width: 25px;
    height: 25px;
    background-color: #808080;
    border-radius: 100%;
    overflow: hidden;
}

#main_content {
    width: calc(100% - 50px);
    height: calc(100vh - 175px);
    background-color: #141922;
    margin-top: 90px;
    overflow: auto;
}

/* ******FOOTER****** */

footer {
    width: 100%;
    height: 85px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

/* footer di sinistra */
#foot_left {
    display: flex;
    align-items: center;
}

/* immagine brano  */
#foot_left img {
    height: 35px;
    margin: 0 10px;
}

/* info brano */
#ft_text {
    width: 50px;
}

#ft_text .album {
    font-size: 12px;
    font-weight: bold;
}

#ft_text .name{
    font-size: 10px;
    font-weight: bold;
    color: #878787;
}

/* bottoni cuore e cartella */
#ft_add {
    color: #646464;
    margin-left: 15px;
}

#ft_add .fa-heart{
    display: block;
    font-size: 18px;
}

#ft_add .fa-folder{
    display: block;
    font-size: 18px;
    margin-top: 5px;
}

/* footer centrale top */
#foot_main #ft_top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#ft_top i {
    font-size: 18px;
}

#ft_top i.fa-play-circle {
    font-size: 34px;
    margin: 0 10px;
}


/* ******MEDIA QUERY****** */

/* proprietà responsive per schermo >= 576px in larghezza */
@media screen and (min-width: 576px) {

    header {
        width: calc(100% - 180px);
    }

    #main_left {
        width: 180px;
    }

    #main_content {
        width: calc(100% - 180px);
    }
}

/* ******DEBUG****** */

/* .debug #header_top {
    background-color: green;
} */

/* .debug #header_left {
    background-color: greenyellow;
} */

/* .debug #main_content {
    background-color: #141922;
} */

/* .debug footer {
    background-color: blue;
} */

.debug #foot_left, .debug #foot_right {
    width: 150px;
    height: 100%;
    background-color: red;
}

.debug #foot_main {
    width: 200px;
    height: 100%;
    background-color: green;
}

.debug #ft_top {
    width: 200px;
    height: 50%;
    background-color: violet;
}

.debug #ft_bottom {
    width: 100%;
    height: 50%;
    background-color: tomato;
}