/* ******COMMONS****** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: bold;
    background-color: #141922;
}

ul {
    list-style: none;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.display {
    display: none;
}

/* ******HEADER****** */

header {
    width: calc(100% - 50px);
    height: 90px;
    background-color: rgba(0,0,0,0.5);
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

#btn_upgrade {
    color: white;
    background: none;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 40px;
    margin: 21px 10px;
    cursor: pointer;
}

/* ******MAIN****** */

/* main left */
#main_left {
    width: 50px;
    height: calc(100vh - 85px);
    background-color: #000000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top_list {
    min-height: 350px;
}

.top_list #img_logo_s {
    margin-top: 10px;
}

.top_list #img_logo_l {
    width: 150px;
    margin-top: 20px;
    margin-bottom: 25px;
    display: none;
}

.top_list .logo img {
    filter: none;
}

.top_list .logo {
    width: 30px;
}

/* proprietà lista home cerca e libreria */
.top_list .home li {
    width: 100%;
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.top_list li img {
    width: 25px;
    filter: invert(0.175);
    cursor: pointer;
}

.top_list .home span {
    font-size: 12px;
    color: #7d7f84;
    white-space: nowrap;
    margin: 0 8px;
}

/* proprietà elenco delle playlist */
.top_list h5 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 10px 0;
}

.btn_playlist i {
    color: black;
    background-color: #7d7f84;
    padding: 8px;
    font-size: 20px;
}

.btn_playlist span {
    font-size: 14px;
    color: #7d7f84;
}

.top_list .playlist {
    height: 50%;
    overflow: auto;
    
}

.top_list .playlist li {
    font-size: 12px;
    color: #7d7f84;
    white-space: nowrap;
    margin: 15px 0;
}

/* proprietà icone inferiori */
.bottom_list {
    width: 100%;
    background-color: #000;
}

.bottom_list li {
    margin: 5px auto;
    display: flex;
    align-items: center;
}

.bottom_list #btn_download {
    width: 15px;
    margin-bottom: 10px;
}

.bottom_list #btn_download span {
    font-size: 12px;
    color: #7d7f84;
    white-space: nowrap;
    margin-left: 10px;
}

.bottom_list #btn_profile img {
    width: 25px;
    height: 25px;
    background-color: #808080;
    border-radius: 100%;
    margin: auto;
}

.bottom_list #btn_profile span {
    font-size: 14px;
    margin-left: 10px;
}

/* contenitore corpo centrale della pagina */
#main_content {
    width: calc(100% - 50px);
    height: calc(100vh - 175px);
    background-color: #141922;
    margin-top: 90px;
    padding: 15px;
    overflow: auto;
}

#main_content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#main_content li {
    color: #7d7f84;
    font-size: 13px;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 10px 20px;
}

#main_content .title {
    margin-top: 20px;
    margin-bottom: 30px;
}

#main_content .title h2 {
    font-size: 27px;
}

#main_content .title .subtitle {
    margin: 15px 0;
}

#main_content .content_flex {
    display: flex;
    flex-wrap: wrap;
}

#main_content .card_song {
    width: calc(50% - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
}

/* effetto over sulle card */
.cont_img {
    position: relative;
    cursor: pointer;
}

.layover_img {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

#popular .layover_img {
    border-radius: 100%;
}

.layover_img i {
    font-size: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) ;
}

#main_content .cont_img:hover .layover_img {
    display: block;
}

#main_content .card_song img {
    width: 100%;
    margin-bottom: 10px;
    display: block;
}

#main_content .text_song {
    text-align: center;
}

#main_content .card_song .name_song {
    margin: 5px;
    font-size: 18px;
}

#main_content .card_song .who_song,
#main_content .title .subtitle {
    color: #7d7f84;
    font-size: 14px;
}

#popular img {
    border-radius: 100%;
}

/* ******FOOTER****** */

footer {
    width: 100%;
    height: 85px;
    background-color: #282828;
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#foot_left, #foot_right {
    width: 180px;
    display: flex;
    align-items: center;
}

#foot_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* footer di sinistra*/

/* immagine brano  */
#foot_left img {
    height: 35px;
    margin: 0 10px;
}

/* info brano */
#ft_text {
    width: 50px;
}

#ft_text .album {
    font-size: 12px;
}

#ft_text .name{
    font-size: 10px;
    color: #878787;
}

/* bottoni cuore e cartella */
#ft_add {
    color: #646464;
    margin-left: 15px;
}

#ft_add .fa-heart{
    display: block;
    font-size: 18px;
}

#ft_add .fa-folder{
    display: block;
    font-size: 18px;
    margin-top: 5px;
}

/* footer centrale */

/* footer centrale top */
#ft_top {
    width: 200px;
    height: 40%;
}

#foot_main #ft_top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#ft_top i.fa-play-circle {
    font-size: 30px;
    margin: 0 10px;
}

/* footer centrale bottom */
#ft_bottom {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ft_bottom span {
    font-size: 12px;
}

#ft_bottom .play_bar {
    width: 55%;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 25px;
    margin: 0 10px;
}

/* footer di destra */
#foot_right i {
    margin: 0 5px;
}

#foot_right .sound_bar {
    width: 90px;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 25px;
    margin: 0 5px;
}



/* ******MEDIA QUERY****** */

/* proprietà responsive per schermo >= 576px in larghezza */
@media screen and (min-width: 576px) {

    header {
        width: calc(100% - 220px);
    }

    #main_left {
        width: 220px;
        padding: 0 15px;
        align-items: flex-start;
    }

    .display {
        display: block;
    }

    .top_list #img_logo_s {
        display: none;
    }

    .top_list #img_logo_l {
        display: block;
    }

    .bottom_list li {
        margin: 5px 0;
    }

    .bottom_list #btn_profile {
        border-top: 1px solid #7d7f84;
        padding-top: 10px;
    }

    .bottom_list #btn_profile img {
        margin: 0;
    }

    #main_content {
        width: calc(100% - 220px);
    }

}

/* proprietà responsive per schermo >= 768px in larghezza */
@media screen and (min-width: 768px) {

    #main_content .card_song {
        width: calc(100% / 4 - 15px);
    }

    #main_content .text_song .name_song {
        font-size: 12px;
    }

    #main_content .text_song .who_song {
        font-size: 10px;
    }

    #foot_left, #foot_right {
        width: 320px;
    }

    #foot_left #ft_add i {
        display: inline-block;
        margin: 0 5px;
    }

    #foot_right i {
        margin: 0 10px;
    }
}

/* proprietà responsive per schermo >= 1200px in larghezza */
@media screen and (min-width: 1200px) {

    #main_content .card_song {
        width: calc(100% / 6 - 15px);
    }
}

/* proprietà responsive per schermo >= 1400px in larghezza */
@media screen and (min-width: 1400px) {

    #main_content .card_song {
        width: calc(100% / 6 - 40px);
    }

    #main_content .card_song {
        margin-right: 40px;
    }

    #main_content .text_song .name_song {
        font-size: 15px;
    }

    #main_content .text_song .who_song {
        font-size: 12px;
    }
}

/* ******DEBUG****** */

/* .debug #header_top {
    background-color: green;
} */

/* .debug #header_left {
    background-color: greenyellow;
} */

/* .debug #main_content {
    background-color: #141922;
} */

/* .debug footer {
    background-color: blue;
} */

/* .debug #foot_left, .debug #foot_right {
    background-color: red;
}

.debug #foot_main {
    background-color: green;
}

.debug #ft_top {
    background-color: violet;
}

.debug #ft_bottom {
    background-color: tomato;
} */

/* .debug #recently .card_song {
    height: 300px;
    background-color: rgb(163, 54, 54);
    
} */