/* ******COMMONS****** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

ul {
    list-style: none;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.left {
    float: left;
}

/* ******HEADER****** */

header {
    width: calc(100% - 50px);
    height: 90px;
    background-color: #080b12;
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
}

#btn_upgrade {
    color: white;
    background: none;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 40px;
    margin: 21px 10px;
    cursor: pointer;
}

/* ******MAIN****** */

/* main left */
#main_left {
    width: 50px;
    height: calc(100vh - 85px);
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top_list #img_logo_l {
    display: none;
}

.top_list .logo img {
    filter: none;
}

.top_list .logo {
    width: 30px;
}

.top_list li {
    width: 25px;
}

.top_list li img {
    filter: invert(0.175);
    cursor: pointer;
}

.top_list span {
    display: none;
}

/* proprietà icone inferiori */
.bottom_list li {
    margin: 5px auto;
}

.bottom_list #btn_download {
    width: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.bottom_list #btn_profile {
    width: 25px;
    height: 25px;
    background-color: #808080;
    border-radius: 100%;
    overflow: hidden;
}

#main_content {
    width: calc(100% - 50px);
    height: calc(100vh - 175px);
    background-color: #141922;
    margin-top: 90px;
    overflow: auto;
}

/* ******FOOTER****** */

footer {
    width: 100%;
    height: 85px;
    background-color: #282828;
    display: flex;
}

#foot_left, #foot_right {
    width: 180px;
    display: flex;
    align-items: center;
}

#foot_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* footer di sinistra*/

/* immagine brano  */
#foot_left img {
    height: 35px;
    margin: 0 10px;
}

/* info brano */
#ft_text {
    width: 50px;
}

#ft_text .album {
    font-size: 12px;
    font-weight: bold;
}

#ft_text .name{
    font-size: 10px;
    font-weight: bold;
    color: #878787;
}

/* bottoni cuore e cartella */
#ft_add {
    color: #646464;
    margin-left: 15px;
}

#ft_add .fa-heart{
    display: block;
    font-size: 18px;
}

#ft_add .fa-folder{
    display: block;
    font-size: 18px;
    margin-top: 5px;
}

/* footer centrale */

/* footer centrale top */
#ft_top {
    width: 220px;
    height: 40%;
}

#foot_main #ft_top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#ft_top i {
    font-size: 18px;
}

#ft_top i.fa-play-circle {
    font-size: 34px;
    margin: 0 10px;
}

/* footer centrale bottom */
#ft_bottom {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ft_bottom span {
    font-size: 12px;
    font-weight: bold;
}

#ft_bottom .play_bar {
    width: 55%;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 25px;
    margin: 0 10px;
}

/* footer di destra */
#foot_right i {
    margin: 0 5px;
}

#foot_right .sound_bar {
    width: 90px;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 25px;
    margin: 0 5px;
}



/* ******MEDIA QUERY****** */

/* proprietà responsive per schermo >= 576px in larghezza */
@media screen and (min-width: 576px) {

    header {
        width: calc(100% - 220px);
    }

    #main_left {
        width: 220px;
        padding: 0 15px;
        align-items: flex-start;
    }

    .top_list li {
        margin: 5px 0;
    }

    .top_list .logo {
        width: 150px;
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .top_list #img_logo_s {
        display: none;
    }

    .top_list #img_logo_l {
        display: block;
    }

    .top_list span {
        display: inline;
    }

    #main_content {
        width: calc(100% - 220px);
    }
}

/* ******DEBUG****** */

/* .debug #header_top {
    background-color: green;
} */

/* .debug #header_left {
    background-color: greenyellow;
} */

/* .debug #main_content {
    background-color: #141922;
} */

/* .debug footer {
    background-color: blue;
} */

/* .debug #foot_left, .debug #foot_right {
    background-color: red;
}

.debug #foot_main {
    background-color: green;
}

.debug #ft_top {
    background-color: violet;
}

.debug #ft_bottom {
    background-color: tomato;
} */